@model LBApp.Models.Book

@{
    ViewData["Title"] = "Купівля";
}
<style>
    .p1{
        text-align:center
    }
</style>
<p class="p1">Дякуємо за купівлю, невдовзі з вами зв'яжеться менеджер</p>
<p style=" text-align:center"><img src="https://www.sparklecat.com/wp-content/uploads/SparkleFBTY.jpg" height="500" width="650" /></p>