
@{
    ViewData["Title"] = "Діаграми";
}
<style> 
  #chart1, #chart2 { 
    display: inline-block; 
    vertical-align: top;
        width: 49%;
        padding: 10px;
    } 
</style> 
<div class="charts_container">
    <div id="chart1"></div>
    <div id="chart2"></div>
</div>

@section scripts{
        <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                $.get('/api/Chart/JsonData', function (JsonData) {
                    data = google.visualization.arrayToDataTable(JsonData, false);
                    var option = {
                        title: "Діаграма співвідношення кількості книжок відповідних жанрів",
                        is3D: true,
                        width: 700,
                        height: 600
                    };
                    chart = new google.visualization.PieChart(document.getElementById('chart1'));
                    chart.draw(data, option);

                })
            }
        </script>

    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/JsonData2', function (JsonData2) {
                data = google.visualization.arrayToDataTable(JsonData2, false);
                var option = {
                    title: "Діаграма співвідношення кількості книжок відповідних авторів",
                   
                    width: 700,
                    height: 600,
                    pieHole: 0.4
                    


                };
                chart = new google.visualization.PieChart(document.getElementById('chart2'));
                chart.draw(data, option);

            })
        }
    </script>
    }



