@model LBApp.Models.PublishingHouse

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Видавництво</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhDescr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhDescr)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Редагувати" asp-route-id="@Model?.PhId">Редагувати</a> |
    <a asp-action="Index">Повернутися назад</a>
</div>
