@model LBApp.Models.Book

@{
    ViewData["Title"] = "Редагування";
}

<h1>Редагування</h1>

<h4>Книга</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" />
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookYear" class="control-label"></label>
                <input asp-for="BookYear" class="form-control" />
                <span asp-validation-for="BookYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPrice" class="control-label"></label>
                <input asp-for="BookPrice" class="form-control" />
                <span asp-validation-for="BookPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewBag.AuthorId" name="AuthorId" />
            <div class="form-group">
                <label asp-for="BookPagesCount" class="control-label"></label>
                <input asp-for="BookPagesCount" class="form-control" />
                <span asp-validation-for="BookPagesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishingHouseId" class="control-label"></label>
                <select asp-for="PublishingHouseId" class="form-control" asp-items="ViewBag.PublishingHouseId"></select>
                <span asp-validation-for="PublishingHouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Повернутись до книжок", "Index","Books1", new {id= @ViewBag.AuthorId, name=@ViewBag.AuthorName})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
