@model LBApp.Models.Reader

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви впевнені?</h3>
<div>
    <h4>Читач</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReaderName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReaderId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутия назад</a>
    </form>
</div>
