@{
    ViewData["Title"] = "Політика приватності";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align:center;font-size:30px;">Мяу</p>
<p style="text-align:center;"><img src="https://memepedia.ru/wp-content/uploads/2023/01/kot-dingus-mem-768x512.jpg"></p>
