@model LBApp.Models.Comment

@{
    ViewData["Title"] = "Редагування";
}

<h1>Редагування</h1>

<h4>Коментар</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComId" />
            <input type="hidden" name="Bookid" value="@ViewBag.Bookid" />
            <input type="hidden" name="ReaderId" value="@ViewBag.ReaderId" />
            <input type="hidden" name="ComDate" value="@ViewBag.ComDate" />
            <div class="form-group">
                <label asp-for="ComText" class="control-label"></label>
                <input asp-for="ComText" class="form-control" />
                <span asp-validation-for="ComText" class="text-danger"></span>
            </div>
            
            
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Повернутись назад", "Index", new {Bookid=@ViewBag.Bookid, Readername=User.Identity.Name})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
